.js-fold-menu-toggle {
  position: relative;
  display: block;
}

.js-fold-menu-toggle:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 15px;
  display: block;
  transform: rotate(45deg);
  background-color: #FFF;
  top: 15px;
  left: 7px;
}

.js-fold-menu-toggle:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 15px;
  display: block;
  transform: rotate(-45deg);
  background-color: #FFF;
  top: 15px;
  left: 17px;
}

.js-fold-menu {
  position: relative;
}

.js-fold-menu-list {
  position: absolute;
  z-index: 1;
  top: 40px;
  left: 0;
  list-style-type: none;
  padding-left: 0;
  opacity: 0;
  transition: opacity .3s ease-in;
}

.js-fold-menu-list-active {
  opacity: 1;
}

.js-fold-menu .js-fold-menu-list li {
  display: block;
}

