.js-fold-menu-toggle {
  position: relative;
  display: block;
}

.js-fold-menu {
  position: relative;
}

.js-fold-menu-list {
  position: absolute;
  z-index: 1;
  top: 40px;
  left: 0;
  list-style-type: none;
  padding-left: 0;
  opacity: 0;
  transition: opacity .3s ease-in;
}

.js-fold-menu-list-active {
  opacity: 1;
}

.js-fold-menu .js-fold-menu-list li {
  display: block;
}

